version: '3.8'

services:
  # 1. Database: Microsoft SQL Server
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrongPassword123! # Đặt mật khẩu mạnh
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - chat-network

  backend:
    build: ./backend
    container_name: chat_backend
    ports:
      - "5000:5000" # Mở port để Frontend gọi API
    env_file:
      - ./backend/.env # Dùng file env bạn đã có
    environment:
      - DB_SERVER=sqlserver # Tên service của DB
      - DB_USER=sa
      - DB_PASS=YourStrongPassword123!
      - NODE_ENV=production
    volumes:
      - fe_dist:/app/frontend/dist:ro # Chia sẻ folder build của FE cho BE (read only)
      - ./backend/public:/app/public # Lưu ảnh profile/tin nhắn
    depends_on:
      - sqlserver
      - frontend
    networks:
      - chat-network

  frontend:
    build: ./frontend
    container_name: chat_frontend
    volumes:
      - fe_dist:/app/dist
    networks:
      - chat-network

volumes:
  fe_dist:
  sql_data:

networks:
  chat-network:
    driver: bridge